{% load static %}
{% csrf_token %}
{% static "" as baseURL %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>RAW Fresh</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="{% static 'web_css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
	<link href="{% static 'web_css/login_overlay.css' %}" rel='stylesheet' type='text/css' />
	<link href="{% static 'web_css/style6.css' %}" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="{% static 'web_css/shop.css' %}" type="text/css" />
	<link rel="stylesheet" type="text/css" href="{% static 'web_css/checkout.css' %}">
	<link href="{% static 'web_css/easy-responsive-tabs.css' %}" rel='stylesheet' type='text/css' />
	<link href="{% static 'web_css/style.css' %}" rel='stylesheet' type='text/css' />
	<link href="{% static 'web_css/fontawesome-all.css' %}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
</head>

<body>
	<div class="banner-top container-fluid" id="home">
		<!-- header -->
		<header>
			<div class="row">
				<div class="col-md-3 top-info text-left mt-lg-4">
					<h6>Need Help</h6>
					<ul>
						<li>
							<i class="fas fa-phone"></i> Call</li>
						<li class="number-phone mt-3">12345678099</li>
					</ul>
				</div>
				<div class="col-md-6 logo-w3layouts text-center">
					<h1 class="logo-w3layouts">
						<a class="navbar-brand" href="/web_index/">
							<img src="{% static 'images/new/10.png' %}" alt="" class="img-fluid" style="height: 80px;">RAW FRESH </a>
					</h1>
				</div>

				<div class="col-md-3 top-info-cart text-right mt-lg-4">
					Logged In By : <b><span id="userName"></span></b>
					<ul class="cart-inner-info">
						<li class="button-log">
							<a class="btn-open" href="#">
								<span class="fa fa-user" aria-hidden="true"></span>
							</a>
						</li>
						<li class="galssescart galssescart2 cart cart box_1">
							<form action="#" method="post" class="last">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="display" value="1">
								<a href="/cart/"><button class="top_googles_cart" type="button" name="submit" value="">
									My Cart
									<i class="fas fa-cart-arrow-down"></i>
								</button></a>
							</form>
						</li>
					</ul>
					<!---->
					<div class="overlay-login text-left">
						<button type="button" class="overlay-close1">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
						<div class="wrap">
							<h5 class="text-center mb-4">Login Now</h5>
							<div class="login p-5 bg-dark mx-auto mw-100">
								<form action="#" method="post">
									<div class="form-group">
										<label class="mb-2">Email address</label>
										<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
										<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
									</div>
									<div class="form-group">
										<label class="mb-2">Password</label>
										<input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
									</div>
									<div class="form-check mb-2">
										<input type="checkbox" class="form-check-input" id="exampleCheck1">
										<label class="form-check-label" for="exampleCheck1">Check me out</label>
									</div>
									<button type="submit" class="btn btn-primary submit mb-4">Sign In</button>

								</form>
							</div>
							<!---->
						</div>
					</div>
					<!---->
				</div>
			</div>
			
			<label class="top-log mx-auto"></label>
			<nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2">

				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						
					</span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav nav-mega mx-auto">
						<li class="nav-item">
							<a class="nav-link ml-lg-0" href="/web_index/">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/about/">About</a>
						</li>

						<li class="nav-item active">
							<a class="nav-link" href="/shop/">shop</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="/contact/">Contact</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/orders/">My Orders</a>
						</li>
					</ul>

				</div>
			</nav>
		</header>
		<!-- banner -->
		<div class="banner_inner">
			<div class="services-breadcrumb">
				<div class="inner_breadcrumb">

					<ul class="short">
						<li>
							<a href="index.html">Home</a>
							<i>|</i>
						</li>
						<li>Cart</li>
					</ul>
				</div>
			</div>

		</div>
		<!--//banner -->
	</div>
	<!--// header_top -->
	<!--checkout-->
	<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
		<div class="container">
			<div class="inner-sec-shop px-lg-4 px-3">
				<h3 class="tittle-w3layouts my-lg-4 mt-3">Cart</h3>
				<div class="checkout-right">
					<h4>Your shopping cart contains:
						<span>following Products</span>
					</h4>
					<table class="timetable_sub">
						<thead>
							<tr>
								<th>Sl No.</th>
								<th>Product</th>
								<th>Quantity</th>
								<th>Product Name</th>
								<th>Price</th>
								<th>Total Price</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody id="cartTable">
							
						</tbody>
					</table>
				</div>
				<br>
				<div style="text-align: right;">
					<!-- <b>Total </b> <span id="totalAmount">₹0.00</span> -->
					<button type="button" class="googles-cart pgoogles-cart" id="shopping" style="background-color: black; color: white;">
						<a href="/web_index/" style="color: white !important;">Continue Shopping</a>
					</button>

					<button type="button" class="googles-cart pgoogles-cart" id="checkout" style="background-color: black; color: white;">
						<a href="/checkout/" style="color: white !important;">Buy Now</a>
					</button>
				</div>
				
			</div>

		</div>
	</section>
	<!--//checkout-->
	<!--footer -->
	<footer class="py-lg-5 py-3">
		<div class="container-fluid px-lg-5 px-3">
			<div class="row footer-top-w3layouts">
				<div class="col-lg-4 footer-grid-w3ls">
					<div class="footer-title">
						<h3>About Us</h3>
					</div>
					<div class="footer-text">
						<p>Raw Fresh began in 2002 with the vision of providing gourmet groceries to food lovers throughout Australia including Melbourne, Sydney, Brisbane, Adelaide and Perth as well as the Asia Pacific region. All of us at Raw Fresh have been inspired to cook, entertain and enjoy eating exceptional food with outstanding quality and value for money. </p>
						<ul class="footer-social text-left mt-lg-4 mt-3">

							<li class="mx-2">
								<a href="#">
									<span class="fab fa-facebook-f"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fab fa-instagram"></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Get in touch</h3>
					</div>
					<div class="contact-info">
						<h4>Location :</h4>
						<p>A1 Shop Ankli Cross, Chikodi</p>
						<div class="phone">
							<h4>Contact :</h4>
							<p>Phone : +121 098 8907 9987</p>
							<p>Email :
								<a href="mailto:info@example.com">info@example.com</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Quick Links</h3>
					</div>
					<ul class="links">
						<li>
							<a href="/index/">Home</a>
						</li>
						<li>
							<a href="/about/">About</a>
						</li>
						<li>
							<a href="/shop/">Shop</a>
						</li>
						<li>
							<a href="/contact/">Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="copyright-w3layouts mt-4">
				<p class="copy-right text-center ">&copy; 2022 Raw Fresh. All Rights Reserved
				</p>
			</div>
		</div>
	</footer>
	<!-- //footer -->
	<!--jQuery-->
	<script src="{% static 'web_js/jquery-2.2.3.min.js' %}"></script>
	<!-- newsletter modal -->
	<!--search jQuery-->
	<script src="{% static 'web_js/modernizr-2.6.2.min.js' %}"></script>
	<script src="{% static 'web_js/classie-search.js' %}"></script>
	<script src="{% static 'web_js/demo1-search.js' %}"></script>
	<!--//search jQuery-->
	<!-- cart-js -->
	<script src="{% static 'web_js/minicart.js' %}"></script>
	<script>
		$(document).ready(function () {
			$(".button-log a").click(function () {
				$(".overlay-login").fadeToggle(200);
				$(this).toggleClass('btn-open').toggleClass('btn-close');
			});
		});
		$('.overlay-close1').on('click', function () {
			$(".overlay-login").fadeToggle(200);
			$(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
			open = false;
		});
	</script>
	<!-- carousel -->
	<!-- easy-responsive-tabs -->
	<script src="{% static 'web_js/easy-responsive-tabs.js' %}"></script>
	<script>
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#tabInfo');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
			$('#verticalTab').easyResponsiveTabs({
				type: 'vertical',
				width: 'auto',
				fit: true
			});
		});
	</script>
	<!--quantity-->
	<script>
		$('.value-plus').on('click', function () {
			var divUpd = $(this).parent().find('.value'),
				newVal = parseInt(divUpd.text(), 10) + 1;
			divUpd.text(newVal);
		});

		$('.value-minus').on('click', function () {
			var divUpd = $(this).parent().find('.value'),
				newVal = parseInt(divUpd.text(), 10) - 1;
			if (newVal >= 1) divUpd.text(newVal);
		});
	</script>
	<!--quantity-->
	<!--close-->
	<script>
		$(document).ready(function (c) {
			$('.close1').on('click', function (c) {
				$('.rem1').fadeOut('slow', function (c) {
					$('.rem1').remove();
				});
			});
		});
	</script>
	<script>
		$(document).ready(function (c) {
			$('.close2').on('click', function (c) {
				$('.rem2').fadeOut('slow', function (c) {
					$('.rem2').remove();
				});
			});
		});
	</script>
	<script>
		$(document).ready(function (c) {
			$('.close3').on('click', function (c) {
				$('.rem3').fadeOut('slow', function (c) {
					$('.rem3').remove();
				});
			});
		});
	</script>
	<!--//close-->

	<!-- dropdown nav -->
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!-- //dropdown nav -->
	<script src="{% static 'web_js/move-top.js' %}"></script>
    <script src="{% static 'web_js/easing.js' %}"></script>
    <script>
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            /*
			var defaults = {
				  containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			 };
			*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!--// end-smoth-scrolling -->

	<script src="{% static 'web_js/bootstrap.js' %}"></script>
	<script src="{% static 'web_js/web_login.js' %}"></script>
	<script src="{% static 'web_js/web_profile.js' %}"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			getCart();
		});

		function getCart() {

			var formData = new FormData();
  			formData.append("csrfmiddlewaretoken", $('input[name=csrfmiddlewaretoken]').val());

            $.ajax({

              url: "/get_cart/",
              type: "POST",
              data: formData,
              processData: false,
              contentType: false,
              success: function(response) {
              	var lclTotalAmt = 0;
              	for(var i = 0; i < response.length; i++) {
              		var j = i + 1;
              		var imgSub = response[i].ct_image.substring(20);
                	$("#cartTable").append('<tr class="rem1"><td class="invert">'+j+'</td><td class="invert-image"> <img src="{{baseURL}}'+imgSub+'" height="100" width="100" alt=" " class="img-responsive"></td><td class="invert"><div class="quantity"><div class="quantity-select"><div class="entry value"> <span>'+response[i].ct_weight+'</span></div></div></div></td><td class="invert">'+response[i].ct_name+'</td><td class="invert">₹'+response[i].ct_price+'</td><td class="invert">₹'+response[i].ct_total_amount+'</td><td class="invert"><div class="rem" onclick=removeItem('+response[i].ct_id+')><div class="close1"></div></div></td></tr>');
                	lclTotalAmt = lclTotalAmt + response[i].ct_total_amount;

                }
                // $("#totalAmount").text("₹"+lclTotalAmt);
			  }

          	});

		}

		function removeItem(id) {

            var formData = new FormData();
            formData.append("csrfmiddlewaretoken", $('input[name=csrfmiddlewaretoken]').val());
            formData.append("id", id);
             $.ajax({
                  beforeSend: function () {
                    // $(".btn .spinner-border").show();
                    // $("#btn_submit").attr("disabled", true);
                  },
                  url: "/cancel_item/",
                   type: "POST",
                  data: formData,
                  processData: false,
                  contentType: false,
                  success: function (result) {
                    if(result == "0") {
                        alert("Invalid Email OR Password, OR you are not Registered User");
                    } else {
                        alert("Item removed successfully");
                        location.reload();;
                    }
                    
                  },
                  error: function (request, error) {
                    console.error(error);
                  },
                  complete: function () {
                    // $(".btn .spinner-border").hide();
                    $("#btn_submit").attr("disabled", false);
                  },
                });
        }
	</script>
	
</body>

</html>